---
import { HeroSection } from "../contents/HeroSection";
import { Blocks } from "../contents/Blocks";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carnaval #BoraCodar">
	<main>
		<HeroSection />
		<Blocks />
	</main>
</Layout>

<style></style>
